---
http_interactions:
- request:
    method: get
    uri: https://deptva-eval.okta.com/api/v1/authorizationServers/aus1bptuzqo48Ut942p7/policies
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - SSWS  00Q0HiSaRWNAB0nCcZvR1Ubs49-6REWhXsIOjRO-Pu
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
      public-key-pins-report-only:
      - pin-sha256="r5EfzZxQVvQpKo3AgYRaT7X2bDO/kj3ACwmxfdT2zt8="; pin-sha256="MaqlcUgk2mvY/RFSGeSwBRkI+rZ6/dxe/DuQfBT/vnQ=";
        pin-sha256="72G5IEvDEWn+EThf3qjR7/bQSWaS2ZSLqolhnO6iyJI="; pin-sha256="rrV6CLCCvqnk89gWibYT0JO6fNQ8cCit7GGoiVTjCOg=";
        max-age=60; report-uri="https://okta.report-uri.com/r/default/hpkp/reportOnly"
      x-okta-request-id:
      - YIlmI3R@SjifS2rkn@3phwAADYc
      x-rate-limit-limit:
      - '600'
      x-rate-limit-remaining:
      - '599'
      x-rate-limit-reset:
      - '1619617375'
    body:
      encoding: UTF-8
      string: '[{"id":"00p8ugd7c2vILTBa62p7","status":"ACTIVE","name":"default","description":"Policy
        managed by developer-portal-backend (DO NOT EDIT)","priority":1,"system":false,"conditions":{"clients":{"include":["0oa9rl213kV3oSYNA2p7","0oa3qyks0xswQvFSq2p7","0oa433lhfjXFvtrrw2p7","0oa3qyc54eRXDuGti2p7","0oa5n1ayjfUSRHuxc2p7","0oa37t9e9jYEdSUlw2p7","0oa8iyk23v2y6hm622p7","0oa6xxltn6B5pnKLR2p7","0oa3cvphk1Mc7S2wr2p7","0oa9gf0waaxicQXeJ2p7","0oa9h1bqfoktgj2Fe2p7","0oa3qhg3ajypuBuEI2p7","0oa6zg16hkbRxwxRQ2p7","0oa7ho23g9UjNumsJ2p7","0oa6zjdjf6rji6CMm2p7","0oa5mxxauqOkX7d1u2p7","0oaaalcf5bH1VTGYJ2p7","0oa7nqvgf6oRqiRHF2p7","0oa5xza5wwkNaEC8C2p7","0oa6zu1l1r9t30b4B2p7","0oa3b8zfszS3ISS8g2p7","0oa3ps4429sPvIS[...]
